{% extends "inicio/encabezado.html" %}

{% block titulo %} ELIMINAR {% endblock  %}

{% load static %}
{% static "inicio/img/home.png" %}

{% endblock %}

{% block contenido %}
<div class="page-header"> 
    <div class="page-title">
        <h3>ELIMINAR COMENTARIO</h3>
    </div>
</div>

<form action="POST">
{% csrf_token %}
<div class="callout callout-danger fade in">
    <h5>Eliminando Comentario</h5>
    <p>¿Estas seguro que deseas <strong>Eliminar</strong> el comentario sleccionado?</p>
</div>
<button type="submit" class="btn btn-danger">Si</button>
<a href="{% url 'Comentarios' %}" class="btn btn-primary">Cancelar</a>
</form>

{% endblock %}